@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3 {
  font-size: 2rem;
}
:root {
  --primary-color: #1877f2;
}

.icon-button {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.icon-button:hover {
  background-color: rgba(211, 211, 211, 0.63);
  cursor: pointer;
}
label {
  display: block;
  color: gray;
  margin-bottom: 0.4rem;
}
select {
  width: 80%;
  border: 1px solid gray;
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
input[type="text"] {
  width: 80%;
  border: 1px solid gray;
  outline: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
textarea {
  border: 1px solid gray;
  outline: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
  width: 100%;
  resize: none;
  height: 4em;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  padding: 0.5rem 0.9rem;
  color: white;
  border-radius: 0.1rem;
  cursor: pointer;
}
.btn-cancel {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--primary-color);
  outline: none;
  color: var(--primary-color);
  padding: 0.5rem 0.9rem;
  background-color: white;
  padding: calc(0.5rem - 2px) calc(0.9rem - 2px);
  cursor: pointer;
}
.btn-rad {
  border-radius: 0.25rem;
}
.error {
  padding: 1rem;
  width: 50%;
  color: red;
  border: 1px solid red;
  background-color: pink;
  text-align: center;
  border-radius: 0.2rem;
}
